[Desktop Entry]
Type=Application
Name=TKArcade
Comment=Minimal Steam launch wrapper settings
Exec=tkarcade
Icon=tkarcade
Terminal=false
Categories=Game;
StartupWMClass=TKArcade
