[Desktop Entry]
Type=Application
Name=TKSteamLaunch
Comment=Minimal Steam launch wrapper settings
Exec=tksteamlaunch
Icon=tksteamlaunch
Terminal=false
Categories=Game;
StartupWMClass=TKSteamLaunch
